.not-visible {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;  /* Ajoutez un padding pour éviter que le contenu touche les bords */
}

video {
    width: 80px;
    height: 300px;
    border-radius: 50%;  /* Vidéo arrondie */
    object-fit: cover;   /* S'assure que la vidéo couvre l'espace sans déformation */
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Ajoute une légère ombre */
    transition: transform 0.3s ease;  /* Animation pour effet au hover */
    border: 5px solid #007bff; /* Add a blue border for design */
}

video:hover {
    transform: scale(1.05);  /* Zoom léger au survol */
}

#img-element img {
    border-radius: 50%;
    object-fit: cover;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Ajoute une légère ombre */
    transition: transform 0.3s ease;  /* Animation pour effet au hover */
    border: 5px solid #007bff; /* Add a blue border for design */
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Responsivité pour les téléphones */
@media (max-width: 768px) {
    video {
        width: 200px;
        height: 200px;
    }
    
    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    video {
        width: 150px;
        height: 150px;
    }

    button {
        font-size: 12px;
        padding: 6px 12px;
    }
}










