<!-- templates/employes/confirmer_suppression.html -->
{% extends 'base/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Confirmation de suppression</h2>
    <p>Êtes-vous sûr de vouloir supprimer l'employé {{ employe.nom }} {{ employe.prenom }} ?</p>
    
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Oui, supprimer</button>
        <a href="{% url 'liste_employe' %}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}
