{% extends 'base/base1.html' %}
{% load static %}
{% block content %}
<a href="{% url 'login' %}" class="btn btn-primary d-block text-right" style="font-weight: bold; background-color: #28a745; border-color: #28a745; color: white;">connexion</a>

<style>
    /* Appliquer la couleur verte pour les éléments de texte */
    body, .slider_text h3, .service_area .single_service h3, .welcome_docmed_info h2, .welcome_docmed_info h3, .business_info h3 {
        color: #28a745; /* Vert */
    }
    .service_area .single_service p, .welcome_docmed_info p {
        color: #333333; /* Texte gris pour une meilleure lisibilité */
    }

    /* Liens verts */
    a, .nav-link {
        color: #28a745; /* Vert pour les liens */
    }

    a:hover, .nav-link:hover {
        color: #155724; /* Vert foncé pour le survol */
    }

    /* Bouton de connexion personnalisé */
    .btn-primary {
        background-color: #28a745;
        border-color: #28a745;
    }

    /* Ajustements pour la mise en forme des images et autres éléments */
    img {
        max-width: 100%;
        height: auto;
    }

    /* Responsive Design pour écrans moyens et petits */
    @media (max-width: 768px) {
        /* Ajustements pour les écrans moyens */
        .slider_text h3 {
            font-size: 1.5em;
        }
        .slider_text p {
            font-size: 0.9em;
        }
        /* Autres ajustements */
    }

    @media (max-width: 576px) {
        /* Ajustements pour les écrans petits */
        .slider_text h3 {
            font-size: 1.2em;
        }
        .welcome_docmed_info h2 {
            font-size: 1.5em;
        }
        /* Autres ajustements */
    }
</style>

<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider d-flex align-items-center slider_bg_2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_text">
                            <h3><span>Santé pour toute la famille</span><br></h3>
                            <p>Dans le secteur de la santé, l'excellence du service est la capacité de l'hôpital à être constant(e).</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Autre slide -->
    </div>
</div>
<!-- slider_area_end -->

<!-- service_area_start -->
<div class="service_area" style="background-color: #28a745;">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-xl-4 col-md-4 col-sm-12">
                <div class="single_service d-flex flex-column align-items-center">
                    <div class="icon">
                        <i class="flaticon-electrocardiogram"></i>
                    </div>
                    <h3 style="color: white;">L'hospitalité</h3>
                    <p style="color: white;">L'hospitalité envers les patients est primordiale pour leur bien-être durant leur séjour à l'hôpital...</p>
                </div>
            </div>
            <!-- Autres services -->
        </div>
    </div>
</div>


<!-- service_area_end -->

<!-- welcome_docmed_area_start -->
<div class="welcome_docmed_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="welcome_thumb">
                    <div class="thumb_1">
                        <img src="{% static 'accueil/img/about/1.png' %}" alt="" class="img-fluid">
                    </div>
                    <div class="thumb_2">
                        <img src="{% static 'accueil/img/about/2.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="welcome_docmed_info">
                    <h2 style="color: #28a745; font-weight: bold;">Bienvenue à Life Style Santé</h2>
                    <h3>Les meilleurs soins pour votre bonne santé".<br></h3>
                    <p>Nous nous engageons à fournir les meilleurs soins pour votre bonne santé...</p>
                    <ul>
                        <li><i class="flaticon-right"></i> Appartements fréquemment ou immobiles.</li>
                        <li><i class="flaticon-right"></i> En prenant soin d'éviter toute répétition.</li>
                        <li><i class="flaticon-right"></i> Parce que le plaisir en soi est repoussé.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- welcome_docmed_area_end -->

<!-- testmonial_area_start -->
<div class="testmonial_area">
    <div class="testmonial_active owl-carousel">
        <div class="single-testmonial testmonial_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <div class="testmonial_info text-center">
                            <div class="quote">
                                <i class="flaticon-straight-quotes"></i>
                            </div>
                            <p>Nous offrons des soins de qualité...</p>
                            <div class="testmonial_author">
                                <h4>Life Style Santé</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Autres témoignages -->
    </div>
</div>
<!-- testmonial_area_end -->

<!-- business_expert_area_start -->
<div class="business_expert_area">
    <div class="business_tabs_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <ul class="nav" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                               aria-selected="true" style="color: #28a745;">Excellent Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                               aria-selected="false" style="color: #28a745;">Médecins compétents</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                               aria-selected="false" style="color: #28a745;">Services d'urgence</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="border_bottom">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-md-6 col-sm-12">
                            <div class="business_info">
                                <div class="icon">
                                    <i class="flaticon-first-aid-kit"></i>
                                </div>
                                <h3>Des soins de pointe pour votre famille</h3>
                                <p>Nous nous engageons à offrir des soins de pointe adaptés aux besoins de toute votre famille...</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-12">
                            <div class="business_thumb">
                                <img src="{% static 'accueil/img/about/business.png' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-md-6 col-sm-12">
                            <div class="business_info">
                                <div class="icon">
                                    <i class="flaticon-doctor"></i>
                                </div>
                                <h3>Des médecins compétents à votre service</h3>
                                <p>Nos médecins sont hautement qualifiés et dédiés à fournir des soins exceptionnels...</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-12">
                            <div class="business_thumb">
                                <img src="{% static 'accueil/img/about/business.png' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-md-6 col-sm-12">
                            <div class="business_info">
                                <div class="icon">
                                    <i class="flaticon-heartbeat"></i>
                                </div>
                                <h3>Services d'urgence 24/7</h3>
                                <p>Nos services d'urgence sont disponibles 24 heures sur 24, 7 jours sur 7, pour répondre à vos besoins médicaux urgents.</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-12">
                            <div class="business_thumb">
                                <img src="{% static 'accueil/img/about/business.png' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- business_expert_area_end -->
{% endblock %}
