{% extends 'base/base1.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-6">
            <form method="post">
                {% csrf_token %}
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Marquer votre départ {{ employe.nom }} {{ employe.prenom }}</h5>
                        {{ form.as_p }}
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Valider</button>
                        <a href="{% url 'accueil' %}" class="btn btn-secondary">Retour</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                document.getElementById("id_latitude").value = position.coords.latitude;
                document.getElementById("id_longitude").value = position.coords.longitude;
            });
        } else {
            alert("La géolocalisation n'est pas supportée par ce navigateur.");
        }
    });
</script>