{% extends 'base/base.html' %}
{% block content %}
<div class="wrapper">
    <!-- Sale & Revenue Start -->
    
    <!-- Sale & Revenue End -->

    <!-- Sales Chart Start -->
    
    <!-- Sales Chart End -->

    <!-- Widgets Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-12">
                <div class="h-100 bg-light rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Calendrier</h6>
                    </div>
                    <div id="calender"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Widgets End -->
</div>
{% endblock %}

<style>
html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-fluid {
    flex: 1;
}

.footer {
    margin-top: auto;
    background-color: #f8f9fa; /* Couleur de fond du footer */
    padding: 10px 0; /* Padding du footer */
}

@media (max-width: 576px) {
    .p-4 {
        padding: 1rem !important; /* Ajustement pour petits écrans */
    }
}
</style>
