{% extends 'base/base.html' %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
            <div class="card p-4 shadow-sm">
                <!-- Bande bleue avec texte blanc forcé -->
                <div class="bg-primary py-3 mb-4 text-center rounded" style="color: white;">
                    <h2 class="mb-0">Inscription</h2>
                </div>

                <p class="text-center">Complétez les informations</p>

                <form method="post" enctype="multipart/form-data">  <!-- Ajoutez enctype ici -->
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-success w-100">S'enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
